#main {
    -fx-background-color: white;
}

.item {
    -fx-background-color: white;
    -fx-font-weight: normal;
    -fx-padding: 10 5 10 5;
}

.item:hover {
    -fx-background-color: lightblue;
}

/*#titleRow {
    -fx-font-weight: bold;
}*/

.scroll-pane, VBox {
    -fx-background-color: white;
}

.text-field {
    -fx-background-radius: 0;
}