.sec {
    -fx-background-color: white;
}

.history {
    -fx-background-color: white;
}

.date {
    -fx-font-weight: bold;
    -fx-font-size: 20pt;
    -fx-text-alignment: center;
    -fx-background-radius: 100%;
    -fx-background-color: lightblue;
    -fx-text-fill: white;
}

.label{
    -fx-font-weight: bold;
    -fx-font-size: 25pt;
}

.bad {
    -fx-text-alignment: center;
    -fx-padding: 10 0 10 0;
}

.scroll-bar:vertical .track, .increment-button, .decrement-button {
    -fx-background-color: white;
    -fx-background-radius: 0;
}

.scroll-bar:vertical .thumb {
    -fx-background-radius: 0;
    -fx-background-color: lightblue;
}

.backButton {
    -fx-background-radius: 0;
    -fx-background-color: lightblue;
}